@import "./../../styles/common.scss";

@mixin button-template($color1, $color2) {
  text-transform: uppercase;
  font-weight: bold;
  background-color: $color1;
  color: $white-1;
  border: 2px solid $color2;
  &:hover {
    color: $white-1;
    background-color: $color2;
  }
  &:active {
    color: $white-2;
  }
}

.button {
  button:focus {
    outline: 0;
  }
  .primary {
    @include button-template($blue-1, $blue-2);
  }

  .secondary {
    @include button-template($grey-1, $grey-2)
  }

  .success {
    @include button-template($green-1, $green-2)
  }

  .danger {
    @include button-template($red-1, $red-2)
  }

	.warning {
    @include button-template($yellow-1, $yellow-2)
	}
	
  .disabled {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(150, 149, 149, 0.26);
    background: rgba(0, 0, 0, 0.12);
    border: 2px solid rgba(0, 0, 0, 0.12);
  }
}
