@import './../../styles/common.scss';

.button {
  button:focus {
    outline: 0;
  }
  .primary {
		text-transform: uppercase;
		font-weight: bold;
		background-color: $blue-1;
		color: $white-1;
    border: 2px solid $blue-2;
    &:hover {
			color: $white-1;
			background-color: $blue-2;
		}
		&:active {
			color: $white-2;
		}
	}

	.secondary {
		text-transform: uppercase;
		font-weight: bold;
		background-color: $grey-1;
		color: $white-1;
    border: 2px solid $grey-2;
    &:hover {
			background-color: $grey-2;
		}
		&:active {
			color: $white-2;
		}
	}

	.success {
		text-transform: uppercase;
		font-weight: bold;
		background-color: $green-1;
		color: $white-1;
    border: 2px solid $green-2;
    &:hover {
			background-color: $green-2;
		}
		&:active {
			color: $white-2;
		}
	}

	.danger {
		text-transform: uppercase;
		font-weight: bold;
		background-color: $red-1;
		color: $white-1;
    border: 2px solid $red-2;
    &:hover {
			background-color: $red-2;
		}
		&:active {
			color: $white-2;
		}
	}
	
	.disabled {
		text-transform: uppercase;
    font-weight: bold;
		color: rgba(150, 149, 149, 0.26);
		background: rgba(0,0,0, 0.12);
		border: 2px solid rgba(0,0,0, 0.12);
	}
}
