@import "./../../styles/common.scss";

.button {
  button:focus {
    outline: 0;
  }
  .primary {
    @include button-template($blue-1, $blue-2, $white-1, $white-2);
  }

  .secondary {
    @include button-template($grey-1, $grey-2, $white-1, $white-2)
  }

  .success {
    @include button-template($green-1, $green-2, $white-1, $white-2)
  }

  .danger {
    @include button-template($red-1, $red-2, $white-1, $white-2)
  }

	.warning {
    @include button-template($yellow-1, $yellow-2, $white-1, $white-2)
	}

	.info {
    @include button-template($aqua-1, $aqua-2, $white-1, $white-2)
	}

	.light {
    @include button-template($white-1, $white-2, $grey-1, $grey-2)
	}

	.dark {
		@include button-template($black-1, $black-2, $white-1, $white-2)
	}
	
  .disabled {
    font-size: $button-font;
    color: rgba(150, 149, 149, 0.26);
    background: rgba(0, 0, 0, 0.12);
    border: 2px solid rgba(0, 0, 0, 0.12);
  }
}
