@import "./var.scss";

* {
  outline: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  html {
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@mixin button-template($color1, $color2, $font1, $font2) {
  font-size: $font-size-1;
  background-color: $color1;
  color: $font1;
  border: 2px solid $color2;
  &:hover {
    color: $font1;
    background-color: $color2;
  }
  &:active {
    color: $font2;
  }
}

@mixin tab-template($color1, $color2, $font1, $font2) {
  font-size: $font-size-1;
  background-color: $color1;
  color: $font1;
  border: 2px solid $color2;
  &:hover {
    color: $font1;
    background-color: $color2;
  }
  &:active {
    color: $font2;
  }
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}

@mixin sectionCard($backgroundColor) {
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $backgroundColor;
}

.pad2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pad4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pad8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pad20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad4-left {
  padding-left: 4px;
}

.pad8-left {
  padding-left: 8px;
}

.margin4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.width100 {
  width: 100px;
}

.width125 {
  width: 125px;
}

.width150 {
  width: 150px;
}

.width200 {
  width: 200px;
}

.width300 {
  width: 300px;
}

.sectionFull {
  height: 100vh;
}

.sectionTop {
  height: calc(100vh - 150px);
}

.boxSizeFullScreenMargin100 {
  height: calc(100% - 100px);
  width: calc(100% - 100px);
}

.boxSize1000 {
  width: 1000px;
}

.boxSize300x600 {
  height: 300px;
  width: 600px;
}

.margin15-left {
  margin-left: 15px;
}

.margin15-right {
  margin-right: 15px;
}

.radius5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.radius5-top {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}

.radius5-bottom {
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

.radius15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.radius15-left {
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}

.radius15-right {
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
}

.backgroundWhite1 {
  background-color: $white-1;
}

.backgroundWhite2 {
  background-color: $white-2;
}

.font-size-1 {
  font-size: $font-size-1;
}

.font-size-2 {
  font-size: $font-size-2;
}
.font-size-3 {
  font-size: $font-size-3;
}

.hidden {
  display: none;
}