@import "./var.scss";

@mixin button-template($color1, $color2, $font1, $font2) {
  font-size: $button-font;
  background-color: $color1;
  color: $font1;
  border: 2px solid $color2;
  &:hover {
    color: $font1;
    background-color: $color2;
  }
  &:active {
    color: $font2;
  }
}

input:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

.pad2 {
	padding-top: 2px;
	padding-bottom: 2px;
}

.pad4 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.pad8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.width100 {
  width: 100px;
}

.width125 {
	width: 125px;
}

.width150 {
  width: 150px;
}

.width200 {
	width: 200px;
}

.radius15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.radius15-left {
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}

.radius15-right {
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
}
