@import "./var.scss";

@mixin button-template($color1, $color2, $font1, $font2) {
  text-transform: uppercase;
  font-weight: bold;
  background-color: $color1;
  color: $font1;
  border: 2px solid $color2;
  &:hover {
    color: $font1;
    background-color: $color2;
  }
  &:active {
    color: $font2;
  }
}

input:focus {
	outline: 0;
}

button:focus {
	outline: 0;
}

.pad8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.width100 {
  width: 100px;
}

.width150 {
  width: 150px;
}

.radius15 {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}