@import "./../../styles/common.scss";

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  &:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
    -moz-transition: transform 0.6s;
    -ms-transition: transform 0.6s;
    -o-transition: transform 0.6s;

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      a {
        text-decoration: none;
        color: $white-2;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        &:hover {
          letter-spacing: 0.7px;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
        }
      }
    }
    .flip-card-front {
      background-color: $blue-1;
      color: $black-1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 75%;
      }
    }
    .flip-card-back {
      background-color: $blue-1;
      color: $white-1;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
    }
  }
}
.sectionCard {
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
