.contact-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-areas:
    ". name ."
    ". email ."
    ". message ."
    ". submit .";
  .contact-name,
  .contact-email,
  .contact-message,
  .contact-submit {
    display: flex;
    justify-content: left;
    label {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input, textarea {
      width: 100%;
      margin: 10px 0;
    }
  }

  .contact-name {
    grid-area: name;
  }
  .contact-email {
    grid-area: email;
  }
  .contact-message {
    grid-area: message;
  }
  .contact-submit {
    grid-area: submit;
    padding-left: 125px;
    input {
      width: 100px;
    }
  }
}
