@import "./../../styles/common.scss";

.header {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $white-2;

  .title {
    color: $black-2;
    text-align: center;
    font-size: $font-size-3;
    padding-bottom: 15px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    button {
      margin-right: 10px;
    }
  }
}
