@import "./styles/common.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  .header {
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .top-section,
    .mid-section,
    .bottom-section {
      width: 90%;
      max-width: 1200px;
    }
  }
  .footer {
  }
}

@media screen and (max-width: $break-1) {
  .App .body .top-section,
  .mid-section,
  .bottom-section {
    width: 95%;
  }
}
