@import "./styles/common.scss";

.App {
  box-sizing: border-box;
  margin: 0 40px;
  border: 1px solid $white-2;
  
  .Home {
    height: calc(100vh - 150px);
    padding: 20px;
    background-color: $white-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .About {
    height: 100vh;
    padding: 20px;
    background-color: $white-2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Contact {
    height: 100vh;
    padding: 20px;
    background-color: $white-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
