@import "./../../styles/common.scss";

.forms-search {
	display: flex;
  input {
    border: 2px solid $blue-2;
    font-size: $font-size-1;
  }
}

.forms-email {
  display: flex;
  flex-direction: column;
  input {
    border: 2px solid $blue-2;
    font-size: $font-size-1;
  }
  textarea {
    border: 2px solid $blue-2;
    width: 298px;
    font-size: $font-size-1;
    resize: none;
  }
  .forms-submit {
    display: flex;
    justify-content: center;
    margin: 3px;
  }
}
